<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>柴米油盐</title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/app/cmyy.css" rel="stylesheet"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav cmyy-home-headr">
	    <h1 class="mui-title">柴米油盐</h1>
	</header>
	<div class="mui-content">
		<!--轮播-->
	    <div class="mui-slider cmyy-slider">
			<div class="mui-slider-group mui-slider-loop">
				<div class="mui-slider-item mui-slider-item-duplicate">
					<!--最后一张-->
					<a href="#">
						<img src="../images/slider1.png" />
						<p class="mui-slider-title">第三张图片</p>
					</a>
				</div>
		        <div class="mui-slider-item">
		    		<a href="#">
		    			<img src="../images/slider1.png" />
		    			<p class="mui-slider-title">第一张图片</p>
		    		</a>
		    	</div>
		        <div class="mui-slider-item">
		    		<a href="#">
		    			<img src="../images/slider1.png" />
		    			<p class="mui-slider-title">第二张图片</p>
		    		</a>
		    	</div>
		    	<div class="mui-slider-item">
		    		<a href="#">
		    			<img src="../images/slider1.png" />
		    			<p class="mui-slider-title">第三张图片</p>
		    		</a>
		    	</div>
		    	<div class="mui-slider-item mui-slider-item-duplicate">
					<!--第一张-->
					<a href="#">
						<img src="../images/slider1.png" />
						<p class="mui-slider-title">第一张图片</p>
					</a>
				</div>
		  </div>
		</div>
	</div>
	
	 <!--js-->
    <script type="text/javascript" src="../js/lib/jquery-1.9.1.min.js"></script>
    <script src="../js/app/index.js"></script>
</body>
</html>