<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <title>基础测试文件</title>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
    	<a class="mui-icon mui-icon-bars mui-pull-left menua"></a>
        <a class="mui-icon mui-icon-plus mui-pull-right adda"></a>
    	<h1 class="mui-title">APP头部</h1>
    </header>
    <!--js-->
    <script src="../js/mui.min.js"></script>
    <script type="text/javascript" src="../js/lib/jquery-1.9.1.min.js"></script>
    <script src="../js/app/index.js"></script>
</body>
</html>